<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="icon" href="/img/weather-cloud.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="apple-touch-icon" href="/images/apple-touch.png">
    <link rel="manifest" crossorigin="use-credentials" type='application/manifest+json; charset=utf-8'
        href="/manifest.webmanifest" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}

    <script src="/js/pwa.js"></script>
</body>

</html>