<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather-cloud.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/puppy.jpg" alt="me">
        <p>The stack used:</p>
        <ul>
            <li>HTML, CSS (duh, obviously)</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>Weatherstack API (weather data)</li>
            <li>Mapbox API (location data)</li>
        </ul>
    </div>

    {{>footer}}
</body>

</html>