<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather-cloud.png">
    <link rel="apple-touch-icon" href="/images/apple-touch.png">
    <link rel="manifest" crossorigin="use-credentials" type='application/manifest+json; charset=utf-8'
        href="/js/manifest.webmanifest" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <div class="searchArea">
                <p>Find out what the weather is like in any location in the world</p>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </div>
            <p class="messageOne"></p>

            <div id="map"></div>

            <div class="iconAndTemp">
                <div class="weatherIcon"></div>
                <span>
                    <p class="temperature"></p>
                    <p class="weatherDescriptions"></p>
                    <p class="feelsLike"></p>
                </span>
            </div>


            <div class="details">
                <div class="precipitation">
                    <p>Chance of precipitation</p>
                    <p class="precipitationData"></p>
                </div>
                <div class="wind">
                    <p>Wind</p>
                    <p class="windSpeed"></p>
                </div>
                <div class="windDirection">
                    <p>Wind Direction</p>
                    <p class="windDirectionData"></p>
                </div>
                <div class="humidity">
                    <p>Humidity</p>
                    <p class="humidityData"></p>
                </div>
                <div class="pressure">
                    <p>Pressure</p>
                    <p class="pressureData"></p>
                </div>
                <div class="visibility">
                    <p>Visibility</p>
                    <p class="visibilityData"></p>
                </div>
                <div class="uvIndex">
                    <p>UV Index</p>
                    <p class="uvIndexData"></p>
                </div>
            </div>
            <span>You are now</span> <span><b class="page-status">online</b></span>
        </form>
    </div>

    {{>footer}}

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
</body>

</html>