<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="icon" href="/img/weather-cloud.png">
    <link rel="apple-touch-icon" href="/img/apple-touch.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="manifest" crossorigin="use-credentials" type='application/manifest+json; charset=utf-8'
        href="/manifest.webmanifest" />
</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="newsNote">
            <p>New articles every 15-20 minutes</p>
        </div>

        <div class="newsFeed">
        </div>
        {{!-- <button type="button" class="abort">Abort!</button> --}}
    </div>

    {{>footer}}

    <script>
        document.addEventListener("DOMContentLoaded", init, false);

        function init() {
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("/service-worker.js").then(
                    (reg) => {
                        console.log("Service worker registered -->", reg);
                    },
                    (err) => {
                        console.error("Service worker not registered -->", err);
                    }
                );
            }
        }
    </script>
    <script src="/js/fetchNews.js"></script>
</body>

</html>