<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="icon" href="/img/weather-cloud.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="newsNote">
            <p>New articles every 15-20 minutes</p>
        </div>

        <div class="newsFeed">
        </div>
    </div>

    {{>footer}}
    <script src="/js/fetchNews.js"></script>
</body>

</html>