@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");

:root {
  --display: flex;
  --flex-direction: row;
  --justify-content: space-between;
  --font-size: 16px;
  --details-p-padding: 0px 10px;
  --details-border-bottom: 2px solid #1d1d1d;
  --background-color: #2d2d2d;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

/* This will force a vertical scroll bar even when not needed */
/* This is used to avoid unwanted web page shifts left or right when clicking nav links  */
html {
  overflow-y: scroll;
}

body {
  display: var(--display);
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #1d1d1d;
  /* color: #333333; */
  color: #fff;
  font-family: "Slabo 13px", serif;
  max-width: 650px;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: #888888;
  text-decoration: none;
  margin-right: 16px;
  border-bottom: 1px solid transparent;
}

header a:hover {
  transition: 0.45s ease-in-out;
  border-color: salmon;
}

h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.portrait {
  width: 100%;
}

.searchArea {
  padding: 20px 10px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.searchArea p {
  margin-top: 0;
}

.searchArea input {
  border: 1px solid #cccccc;
  padding: 8px;
  font-size: var(--font-size);
  border-radius: 0;
  font-family: "Slabo 13px", serif;
}

.searchArea button {
  cursor: pointer;
  background: #888888;
  border: 1px solid #888888;
  color: #fff;
  padding: 8px;
  transition: 0.6s ease-in-out all;
  font-size: var(--font-size);
  font-family: "Slabo 13px", serif;
}

.searchArea button:hover {
  background: #9a9a9a;
}

.messageOne {
  display: none;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.weatherIcon {
  display: none;
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius);
  background-blend-mode: screen;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconAndTemp {
  display: none;
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  margin: 16px 0;
  padding: 15px 10px;
  background-color: #2d2d2d;
  border-radius: 5px;
}

.iconAndTemp span {
  margin-left: 20px;
}

.iconAndTemp .temperature {
  margin: 0;
  font-size: 36px;
  text-align: right;
}

.iconAndTemp .weatherDescriptions {
  margin: 0;
  padding: 0 0 7px;
  font-size: 24px;
  text-align: right;
}

.iconAndTemp .feelsLike {
  margin: 0;
  font-size: var(--font-size);
  text-align: right;
}

.details {
  display: none;
}

.details .precipitation,
.details .wind,
.details .windDirection,
.details .humidity,
.details .pressure,
.details .visibility,
.details .uvIndex {
  display: var(--display);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  padding: var(--details-p-padding);
  background-color: var(--background-color);
  border-bottom: var(--details-border-bottom);
}

.details .precipitation {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.details .uvIndex {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* Urban dictionary link on About page */
.puppyLink {
  text-decoration: none;
  color: salmon;
  border-bottom: 1px solid salmon;
  transition: 0.35s all ease-in-out;
}

.puppyLink:hover {
  border-color: transparent;
}

.goodBoiArea {
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.goodBoiArea p {
  margin: 0;
  padding: 10px 0 20px 0;
}

.disclaimer {
  margin-top: 10px;
  padding: 20px 10px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.disclaimer p {
  margin: 0;
}

.disclaimer a {
  text-decoration: none;
  color: salmon;
  border-bottom: 1px solid salmon;
  transition: 0.45s linear;
}

.disclaimer a:hover {
  border-color: transparent;
}

.stackDetails {
  margin-top: 10px;
  padding: 20px 10px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.stackDetails p {
  margin: 0;
  padding: 0;
}

.stackDetails ul {
  margin-bottom: 0;
}
